.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  color: white;
  /* Change this to the desired color for all Link tags */
  text-decoration: none;
  /* Optional: remove underline from links */
}

a:hover {
  color: lightblue;
  /* Change this to the desired color for all Link tags on hover */
  text-decoration: underline;
  /* Optional: add underline on hover */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.left-pane,
.right-pane {
  width: 50%;
  padding: 16px;
  box-sizing: border-box;
}

/* Media query for screens narrower than 768px */
@media (max-width: 767px) {

  .left-pane,
  .right-pane {
    width: 100%;
  }
}
